<p id="notice"><%= notice %></p>

<p>
  <strong>Marka:</strong>
  <%= @rakiety.marka %>
</p>

<p>
  <strong>Model:</strong>
  <%= @rakiety.model %>
</p>

<%= link_to 'Edit', edit_rakiety_path(@rakiety) %> |
<%= link_to 'Back', rakieties_path %>
