<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
    		<div class="collapse navbar-collapse">
      			<form class="navbar-form navbar-left none-margin-top-bottom">
    				<%= link_to "", root_path, class: "btn-lg btn-default  btn-outline btn-circle glyphicon glyphicon-home none-underline" %>
      			</form>
      			<form class="navbar-form navbar-right">
      			 <% if user_signed_in? %>
          			<%= link_to 'Edit account', edit_user_registration_path, class: "btn-lg btn-default  btn-outline btn-circle none-underline" %>
          			<%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: "btn-lg btn-default  btn-outline btn-circle none-underline" %>
        		<% else %>
          			<%= link_to 'Log in', new_user_session_path, class: "btn-lg btn-default  btn-outline btn-circle none-underline" %>
          			<%= link_to 'Sign up', new_user_registration_path, class: "btn-lg btn-default  btn-outline btn-circle none-underline" %>
        		<% end %>
      			</form>
    		</div>
	</nav>
<%= yield %>

</body>
</html>
